.title{
	margin-bottom: 50px;
	text-align: center;
	width: 210px;
	color: purple;
	border: solid black 2px;
	font-size: 50px;
	justify-content: center; 
}

input[type="button"]
{
	background-color: orange;
	color: black;
	border: solid black 2px;
	width: 200px;
	height: 100px;
	font-size: 95px;
}

input[type="text"]
{
	height: 100px;
	width: 600px;
	font-size: 95px;

}

body{
	background-color: pink;
}